version: '2.1'
services:
    postgres:
        image: postgres:9.6
        environment:
            - POSTGRES_USER=airflow
            - POSTGRES_PASSWORD=airflow
            - POSTGRES_DB=airflow
            - PGDATA=/var/lib/postgresql/data
        volumes:
            - airflow-postgresql-volume:/var/lib/postgresql/data

    webserver:
        image: clellmann/kriging-airflow:1.10.3
        restart: always
        depends_on:
            - postgres
        environment:
            - LOAD_EX=n
            - EXECUTOR=Local
        env_file:
            - app.env
        volumes:
            - C:\Users\chris\OneDrive\Dokumente\Master\"Modul 60100"\particle-kriging\data:/usr/local/airflow/results
            #- ./dags:/usr/local/airflow/dags
            # Uncomment to include custom plugins
            # - ./plugins:/usr/local/airflow/plugins
        ports:
            - "9090:8080"
        command: webserver
        healthcheck:
            test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
            interval: 30s
            timeout: 30s
            retries: 3

volumes:
    airflow-postgresql-volume:
      external: true
    airflow-results:
      external: true
